<button class="btn btn-primary" (click)="onClick()" [disabled]="!allowNewServer">Add Server</button>
<div class="container" >
  <div class="row">
    <div class="col-xs-12">
      <label for="a">Server Text</label> 
    </div>
    <div class="col-xs-12">
        <input name="a" type="text" class="form-control" [(ngModel)]="serverName">
    </div>
  </div>
</div>
<br>
<p *ngIf="serverCreated"> Server is created, server name is   {{serverName}} </p>
<app-server></app-server>
<app-server></app-server>